apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-deployment
  labels:
    app: php
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
    spec:
      containers:
      - name: php
        image: localhost:5001/cachet-php:1.0.0
        ports:
        - containerPort: 8000
        env:
        - name: DB_CONNECTION
          value: "mysql"
        - name: DB_HOST
          value: "db" #need db service name
        - name: DB_PORT
          value: "3306"
        - name: DB_DATABASE
          value: "laravel"
        - name: DB_USERNAME
          value: "root"
